<p-panel>

  <p-header>
    <div class="ui-helper-clearfix">
      <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">Recipe</span>

      <div style="float: right;">
        <span class="data-label" style="padding-right: 5px;">
          Zip
        </span>
        <input type="text" pInputText style="width: 80px;" [(ngModel)]="zipCode"/>
        <button pButton class="ui-button-info" type="button" icon="fa-chevron-right" iconPos="right"
                label="Find Deals" (click)="findDealsClickHandler()"></button>
      </div>
    </div>
  </p-header>

  <div class="data-label">
    Paste your recipe here
  </div>
  <textarea id="recipe-paste-area" #recipePasteTextBox pInputTextarea [(ngModel)]="pastedRecipe"></textarea>
</p-panel>
