
.ui-panel {
  height: 100%;
}

.ui-panel-content-wrapper {
  height: calc(100% - 40px);
}

.ui-panel-content {
  height: 100%;
  overflow: auto;
}

.ui-state-active {
  border-color: #0277BD;
  background-color: #0277BD;
  color: white;
}

.ui-state-active a {
  color: white;
}
