<p-panel [header]="!ingredient ? 'Offers' : ingredient.flyers ? ingredient.flyers.length + ' offer(s) for ' + ingredient.name : 'No offers for ' + ingredient.name">

  <div *ngIf="ingredient">
    <div *ngIf="ingredient.flyers">
      <div *ngFor="let flyer of ingredient.flyers">
        <a [href]="flyer.clipping_image_url" target="_blank" [title]="flyer.name" style="text-decoration: none;">
          <div class="data-label">
            {{flyer.name}}
          </div>
          <img [src]="flyer.clipping_image_url" width="100%">
        </a>
      </div>
    </div>
  </div>
  <div *ngIf="!ingredient">
    Select an Ingredient to see offers
  </div>

</p-panel>

