<p-panel header="Ingredients">

  <div *ngIf="ingredients">

    <!--<p-panel [header]="category" *ngFor="let category of categoryListToDisplay">-->
    <!--</p-panel>-->

    <div *ngFor="let ingredient of ingredients">

      <div class="ui-g ingredient-tile" (click)="ingredientClickHandler(ingredient)"
           [style.background-color]="(selectedIngredient && selectedIngredient.name === ingredient.name) ? '#B3E5FC' : ''">
        <div class="ui-g-3">
          <img [src]="ingredient.icon_url" width="40">
        </div>
        <div class="ui-g-4 ingredient-name-cell">
          {{ingredient.name}}
        </div>
        <div class="ui-g-3 ingredient-button-cell">
          <div *ngIf="!ingredient.flyerClippings">
            <i class="fa fa-spinner fa-spin"></i>
          </div>
          <div *ngIf="ingredient.flyerClippings && ingredient.flyerClippings.length > 0">
            <i class="fa fa-money"></i>
            <i class="fa fa-chevron-right"></i>
          </div>
        </div>
      </div>

    </div>
  </div>

</p-panel>
